%nav.navbar.navbar-expand-lg.bg-dark
  %ul.navbar-nav.mr-auto
    %li.nav-item.active
      = link_to 'Home', root_path, class: 'nav-link'
    %li.nav-item.active
      = link_to 'Students', students_path, class: 'nav-link'
    %li.nav-item.active
      = link_to 'Town', towns_path, class: 'nav-link'